// Configuraci贸n de los colores de la aplicaci贸n

$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

// Configuraci贸n del bot贸n de google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;